body {
  font-family: "Raleway", sans-serif;
}

.App-title {
  margin: 10px;
}

.App-header {
  background-color: #111;
  height: auto;
  padding: 20px;
  color: white;
  font-size: 1.2em;
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-logo {
  height: 76px;
}

.links a {
  margin: 8.5px;
}
.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-gap: 10%;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
  align-items: center;
  margin: 4% 10%;
}

.projectCard {
  display: flex;
  max-width: 360px;
  margin-bottom: 48px;
  flex-direction: column;
  background: #fff;
  min-height: 476px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.projectCard:hover {
  box-shadow: 0 18px 32px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.projectCard img {
  width: 100%;
  height: auto;
  max-height: 150px;
}

.projectCard article {
  padding: 20px;
  flex: 1;
}

.projectCard h3 {
  font-size: 20px;
  color: #333;
}

.projectCard p {
  line-height: 1.4;
}

.projectSkills {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.Landing {
  color: #fff;
  text-align: left;
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

.currentEvents {
  display: flex;
}

.eventCard {
  display: flex;
  margin-left: 80px;
  max-width: 368px;
  border-radius: 2.2px;
  margin-bottom: 48px;
  flex-direction: column;
  background: #c0b4c0;
  height: 646px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.eventCard:hover {
  box-shadow: 0 18px 32px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.eventCard img {
  border-radius: 2.2px;
  width: 100%;
  height: auto;
  max-height: 150px;
}

.eventCard article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
}

.eventCard h3 {
  font-size: 20px;
  color: #333;
}

.eventtCard p {
  line-height: 1.4;
}

.eventDescription {
  color: #333;
}

.eventSkills {
  font-size: 12px;
  font-weight: bold;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 500px) {
  body {
    width: 100%;
  }

  .App-header {
    padding: 0 22px;
  }

  .projectList {
    display: flex;
    flex-direction: column;
    margin: 4% 4.8%;
  }

  .projectCard {
    display: flex;
    max-width: 312px;
    flex-direction: column;
    background: #fff;
    margin: 18px auto;
  }

  .currentEvents {
    display: flex;
    flex-direction: column;
    margin: 4% 4.8%;
  }

  .eventCard {
    display: flex;
    max-width: 312px;
    flex-direction: column;
    background: #fff;
    margin: 18px auto;
  }

  .App-logo {
    display: none;
  }

  .links {
    display: flex;
    flex-direction: column;
    padding-right: 18px;
  }

  .brand {
    font-size: 1em;
  }

  .aboutInfo {
    display: flex;
    flex-direction: column;
  }
}

.social {
  margin-right: 12px;
}
