
body {
  font-family: 'Raleway', sans-serif;
}

.App-title {
  margin: 10px;
}

.App-header {
  background-color: #111;
  height: auto;
  padding: 20px;
  color: white;
  font-size: 1.2em;
} 

.App-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-logo {
  height: 76px;
}

.links a {
  margin: 8.5px;
}
.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-gap: 10%;
  grid-auto-rows: minmax(100px, auto);
  margin: 4% 4.8%;
}

.projectCard {
  display: flex;
  max-width: 360px;
  margin-bottom: 48px;
  flex-direction: column;
  background: #fff;
  min-height: 476px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.projectCard:hover {
  box-shadow: 0 18px 32px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.projectCard img {
  width: 100%;
  height: auto;
}

.projectCard article {
  padding: 20px;
  flex: 1;
}

.projectCard h3 {
  font-size: 20px;
  color: #333;
}
 
.projectCard p { 
  line-height: 1.4;
}
 
.projectSkills {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.Landing {
  color: #fff;
  text-align: left;
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

@media only screen and (max-width: 500px) {
  body {
    width: 100%;
  }
  .projectCard {
    display: flex;
    max-width: 312px;
    flex-direction: column;
    background: #fff;
    margin: 18px auto;
  }

  .App-logo {
    height: 50px;
  }

  .links {
    display: flex;
    flex-direction: column;
  }
  
  .brand {
    font-size: 1em;
  }
}

.social {
  margin-right: 12px;
}